name: Check for unused dependencies

on: 
  pull_request:
    types:
    - ready_for_review


jobs:
  treeshake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@latest
        with:
          version: 1
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-treeshake@main
